<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yu_proje_odevi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YU_Proje_Odevi">
        <activity android:name=".guneydogubolgesi"></activity>
        <activity android:name=".icanadolu" />
        <activity android:name=".marmarabolgesi" />
        <activity android:name=".doguanadolubolgesi" />
        <activity android:name=".karadenizbolgesi" />
        <activity android:name=".egebolgesi" />
        <activity android:name=".akdenizbolgesi" />
        <activity android:name=".MainActivity">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyPushService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="push_kit_auto_init_enabled"
            android:value="true" />

    </application>

</manifest>